<div class="login-container">

  <div class="login-box">

    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="form-group">
        <label for="email">Email</label>

        <input type="email"
               id="email"
               name="email"
               placeholder="Enter your email"
               formControlName="email" />
        @if(email.touched && email.errors?.['required']){
        <p>Email is required</p>
        }
        @if (email.touched && email.errors?.['email'] || email.touched && email.errors?.['invalidPublicDomain']) {
        <p>Please enter a valid email address.</p>
        }
        <!--@if (email.touched && email.errors?.['invalidPublicDomain']) {
  <p>Please enter a valid email domain format.</p>
  }-->
      </div>

      <div class="form-group">
        <label for="password">Password</label>

        <input type="password"
               id="password"
               name="password"
               placeholder="Enter your password"
               formControlName="password" />
        @if (password.touched && password.errors?.['required']) {
        <p>Password is required.</p>
        }

        @if (password.touched && password.errors?.['minlength']) {
        <p>Password must be at least 8 characters.</p>
        }
      </div>
      <button type="submit" [disabled]="loginForm.invalid"> Login </button>

      <div class="signup-option">
        <span>New user?</span>
        <button type="button" (click)="goToSignup()">Sign Up</button>
      </div>

    </form>
  </div>
</div>
