<section class="bug-list-container">
  <app-navigation></app-navigation>
    <h1>All Bugs</h1>
    <app-filter-box [resetFilter]="true"
                    (filterChanged)="applyFilter($event)">
    </app-filter-box>
    @if (errorMessage) {
    <p>{{ errorMessage }}</p>
    }

    @if (bugs$ | async; as bugs) {

    @if (bugs.length === 0 && !errorMessage) {
    <p>No bugs found.</p>
    }

    <!-- @if (bugs.length > 0) {
   <table >
     <thead>
       <tr>
         <th>Id</th>
         <th>Title</th>
         <th>Status</th>
         <th>Priority</th>
         <th>Created By</th>
         <th>Assignee</th>
       </tr>
     </thead>

     <tbody>
       @for (bug of bugs; track bug.bugId) {
       <tr>
         <td>{{ bug.bugId ?? '-' }}</td>
         <td><b>{{ bug.title ?? '-' }}</b><br/>{{ bug.description ?? '-' }}</td>
         <td>{{ bug.status ?? '-' }}</td>
         <td>{{ bug.priority ?? '-' }}</td>
         <td>{{ bug.createdBy ?? '-' }}</td>
         <td>{{ bug.assignee ?? '-' }}</td>
       </tr>
       }
     </tbody>
   </table>-->
    @if (bugs.length > 0) {
<div class="bug-grid">
  @for (bug of bugs; track bug.reference_id) {
  <!--<a class="bug-component" [routerLink]="[bug.reference_id]">
    @for (part of highlightKeyword(bug.title); track $index) {
    @if (part.toLowerCase() === keyword.toLowerCase()) {
    <b>{{ part }}</b>
    } @else {
    {{ part }}
    }
    }
  </a>-->
  <a class="bug-component" [routerLink]="[bug.reference_id]">
    <div class="bug-component-header">
      <span class="bug-title">{{ bug.title }}</span>
    </div>
    <div class="bug-badges">
      <span class="badge status-badge" [ngClass]="'status-' + (bug.status ?? '').toLowerCase().replace(' ', '-')">{{ bug.status ?? '-' }}</span>
      <span class="badge priority-badge" [ngClass]="'priority-' + (bug.priority ?? '').toLowerCase()">{{ bug.priority ?? '-' }}</span>
      <span class="badge assignee-badge">{{ bug.assignee ?? '-' }}</span>

    </div>
  </a>
  }

</div>
    }

    }
</section>
