<section class="bug-list-container">
  <h1>Bug List</h1>

  @if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
  }

  @if (bugs$ | async; as bugs) {

  @if (bugs.length === 0 && !errorMessage) {
  <p>No bugs found.</p>
  }

  @if (bugs.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Created By</th>
        <th>Assignee</th>
      </tr>
    </thead>

    <tbody>
      @for (bug of bugs; track bug.bugId) {
      <tr>
        <td>{{ bug.bugId ?? '-' }}</td>
        <td><b>{{ bug.title ?? '-' }}</b><br />{{ bug.description ?? '-' }}</td>
        <td>{{ bug.status ?? '-' }}</td>
        <td>{{ bug.priority ?? '-' }}</td>
        <td>{{ bug.createdBy ?? '-' }}</td>
        <td>{{ bug.assignee ?? '-' }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
  }
</section>
