<section class="bug-list-container">
  <app-navigation></app-navigation>
  <div class="bug-actions">
    <button (click)="ViewAllBugs()">All Bugs</button>
    <button (click)="AddBugs()">New Bug</button>
  </div>

  <h1>Hello, {{user?.username}}</h1>
  <div class="bug-filter">
    <app-filter-box [reference_id]="user?.reference_id ?? null"
                    (filterChanged)="applyFilter($event)">
    </app-filter-box>
    <h2>Your Bugs</h2>

  </div>
  @if (errorMessage) {
  <p>{{ errorMessage }}</p>
  }

  @if (bugs$ | async; as bugs) {

  @if (bugs.length === 0 && !errorMessage) {
  <p>No bugs found.</p>
  }
  @if
  (bugs.length > 0)
  {

  <div class="bug-grid">
    @for (bug of bugs; track bug.reference_id) {
    <a class="bug-component" [routerLink]="['/bug', bug.reference_id]">
      {{ bug.title }}
    </a>
    }
  </div>
  }
  }
</section>
